# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
#
#Pods/
Pods/Headers/Private/Masonry/MASCompositeConstraint.h
Pods/Headers/Private/Masonry/MASConstraint+Private.h
Pods/Headers/Private/Masonry/MASConstraint.h
Pods/Headers/Private/Masonry/MASConstraintMaker.h
Pods/Headers/Private/Masonry/MASLayoutConstraint.h
Pods/Headers/Private/Masonry/Masonry.h
Pods/Headers/Private/Masonry/MASUtilities.h
Pods/Headers/Private/Masonry/MASViewAttribute.h
Pods/Headers/Private/Masonry/MASViewConstraint.h
Pods/Headers/Private/Masonry/NSArray+MASAdditions.h
Pods/Headers/Private/Masonry/NSArray+MASShorthandAdditions.h
Pods/Headers/Private/Masonry/NSLayoutConstraint+MASDebugAdditions.h
Pods/Headers/Private/Masonry/View+MASAdditions.h
Pods/Headers/Private/Masonry/View+MASShorthandAdditions.h
Pods/Headers/Private/Masonry/ViewController+MASAdditions.h
Pods/Headers/Private/MBProgressHUD/MBProgressHUD.h
Pods/Headers/Public/Masonry/MASCompositeConstraint.h
Pods/Headers/Public/Masonry/MASConstraint+Private.h
Pods/Headers/Public/Masonry/MASConstraint.h
Pods/Headers/Public/Masonry/MASConstraintMaker.h
Pods/Headers/Public/Masonry/MASLayoutConstraint.h
Pods/Headers/Public/Masonry/Masonry.h
Pods/Headers/Public/Masonry/MASUtilities.h
Pods/Headers/Public/Masonry/MASViewAttribute.h
Pods/Headers/Public/Masonry/MASViewConstraint.h
Pods/Headers/Public/Masonry/NSArray+MASAdditions.h
Pods/Headers/Public/Masonry/NSArray+MASShorthandAdditions.h
Pods/Headers/Public/Masonry/NSLayoutConstraint+MASDebugAdditions.h
Pods/Headers/Public/Masonry/View+MASAdditions.h
Pods/Headers/Public/Masonry/View+MASShorthandAdditions.h
Pods/Headers/Public/Masonry/ViewController+MASAdditions.h
Pods/Headers/Public/MBProgressHUD/MBProgressHUD.h
Pods/Masonry/LICENSE
Pods/Masonry/README.md
Pods/Masonry/Masonry/MASCompositeConstraint.h
Pods/Masonry/Masonry/MASCompositeConstraint.m
Pods/Masonry/Masonry/MASConstraint+Private.h
Pods/Masonry/Masonry/MASConstraint.h
Pods/Masonry/Masonry/MASConstraint.m
Pods/Masonry/Masonry/MASConstraintMaker.h
Pods/Masonry/Masonry/MASConstraintMaker.m
Pods/Masonry/Masonry/MASLayoutConstraint.h
Pods/Masonry/Masonry/MASLayoutConstraint.m
Pods/Masonry/Masonry/Masonry.h
Pods/Masonry/Masonry/MASUtilities.h
Pods/Masonry/Masonry/MASViewAttribute.h
Pods/Masonry/Masonry/MASViewAttribute.m
Pods/Masonry/Masonry/MASViewConstraint.h
Pods/Masonry/Masonry/MASViewConstraint.m
Pods/Masonry/Masonry/NSArray+MASAdditions.h
Pods/Masonry/Masonry/NSArray+MASAdditions.m
Pods/Masonry/Masonry/NSArray+MASShorthandAdditions.h
Pods/Masonry/Masonry/NSLayoutConstraint+MASDebugAdditions.h
Pods/Masonry/Masonry/NSLayoutConstraint+MASDebugAdditions.m
Pods/Masonry/Masonry/View+MASAdditions.h
Pods/Masonry/Masonry/View+MASAdditions.m
Pods/Masonry/Masonry/View+MASShorthandAdditions.h
Pods/Masonry/Masonry/ViewController+MASAdditions.h
Pods/Masonry/Masonry/ViewController+MASAdditions.m
Pods/MBProgressHUD/LICENSE
Pods/MBProgressHUD/MBProgressHUD.h
Pods/MBProgressHUD/MBProgressHUD.m
Pods/MBProgressHUD/README.mdown
Pods/Pods.xcodeproj/project.pbxproj
Pods/Target Support Files/Masonry/Masonry-dummy.m
Pods/Target Support Files/Masonry/Masonry-prefix.pch
Pods/Target Support Files/Masonry/Masonry-Private.xcconfig
Pods/Target Support Files/Masonry/Masonry.xcconfig
Pods/Target Support Files/MBProgressHUD/MBProgressHUD-dummy.m
Pods/Target Support Files/MBProgressHUD/MBProgressHUD-prefix.pch
Pods/Target Support Files/MBProgressHUD/MBProgressHUD-Private.xcconfig
Pods/Target Support Files/MBProgressHUD/MBProgressHUD.xcconfig
Pods/Target Support Files/Pods/Pods-acknowledgements.markdown
Pods/Target Support Files/Pods/Pods-acknowledgements.plist
Pods/Target Support Files/Pods/Pods-dummy.m
Pods/Target Support Files/Pods/Pods-resources.sh
Pods/Target Support Files/Pods/Pods.debug.xcconfig
Pods/Target Support Files/Pods/Pods.release.xcconfig
Pods/Headers/Private/Masonry/MASConstraint+Private.h
Pods/Headers/Private/Masonry/NSArray+MASAdditions.h
Pods/Headers/Private/Masonry/NSArray+MASShorthandAdditions.h
Pods/Headers/Private/Masonry/NSLayoutConstraint+MASDebugAdditions.h
Pods/Headers/Private/Masonry/View+MASAdditions.h
Pods/Headers/Private/Masonry/View+MASShorthandAdditions.h
Pods/Headers/Private/Masonry/ViewController+MASAdditions.h
Pods/Headers/Public/Masonry/MASConstraint+Private.h
Pods/Headers/Public/Masonry/NSArray+MASAdditions.h
Pods/Headers/Public/Masonry/NSArray+MASShorthandAdditions.h
Pods/Headers/Public/Masonry/NSLayoutConstraint+MASDebugAdditions.h
Pods/Headers/Public/Masonry/View+MASAdditions.h
Pods/Headers/Public/Masonry/View+MASShorthandAdditions.h
Pods/Headers/Public/Masonry/ViewController+MASAdditions.h
Pods/Masonry/Masonry/MASConstraint+Private.h
Pods/Masonry/Masonry/NSArray+MASAdditions.h
Pods/Masonry/Masonry/NSArray+MASAdditions.m
Pods/Masonry/Masonry/NSArray+MASShorthandAdditions.h
Pods/Masonry/Masonry/NSLayoutConstraint+MASDebugAdditions.h
Pods/Masonry/Masonry/NSLayoutConstraint+MASDebugAdditions.m
Pods/Masonry/Masonry/View+MASAdditions.h
Pods/Masonry/Masonry/View+MASAdditions.m
Pods/Masonry/Masonry/View+MASShorthandAdditions.h
Pods/Masonry/Masonry/ViewController+MASAdditions.h
Pods/Masonry/Masonry/ViewController+MASAdditions.m
Podfile.lock
Pods/Manifest.lock
QGGImagePicker.xcodeproj/project.xcworkspace/contents.xcworkspacedata
QGGImagePicker.xcworkspace/contents.xcworkspacedata
